! its drip or drown spiderman


! **********  Colours  **********

#include "/home/nath/.xcolours/fern"

! **********  Program Settings *********

! Colors
*foreground: Tertiary3
*background: Tertiary1
*color0: Tertiary1
*color8: Tertiary2
*color1: Primary1
*color9: Primary2
*color2: Secondary1
*color10: Secondary2
*color3: Highlight1
*color11: Highlight2
*color4: Highlight3
*color12: Highlight4
*color5: Highlight5
*color13: Highlight6
*color6: Tertiary3
*color14: Tertiary4
*color7: Tertiary5
*color15: Tertiary6

! Font
*font: xft:Tamsyn:style=Regular:pixelsize=16

! Terminal

URxvt*cursorColor: Primary1
URxvt*highlightColor: Secondary1
URxvt*borderColor: Tertiary1

! Cursor
URxvt*cursorBlink: true
URxvt*cursorUnderline: false

! Pointer
URxvt*pointerBlank: true


! Border
URxvt*internalBorder: 8

! Misc.
URxvt*url-launcher: firefox
URxvt*pastableTabs: true
URxvt*scrollBar: False
URxvt*title: Terminal
URxvt*modifier: 4

! i3
! 	copy and paste
	URxvt.iso14755: false
	URxvt.iso14755_52: false
	URxvt.keysym.C-M-c: builtin-string:
	URxvt.keysym.C-M-v: builtin-string:

	URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
	URxvt.keysym.C-S-0x56: eval:paste_clipboard
